
/Source/AirPortal/bin
/Source/AirPortal/obj
/Source/AirPortal/Visual Studio 2010
/Source/AirPortal/Visual Studio 2010Projects
/Source/AirPortal/Visual Studio 2010Templates
/Source/AirPortalDisplay/bin
/Source/AirPortalDisplay/obj